<%= render 'layouts/display' %>
<div class="p-4 shadow-4 rounded-3" style="background-color: white;font-family:serif;">
  
  <h2><%= @artist.name %></h2>
  <p>
    <%= @artist.region %>
  </p>

  <hr class="my-4" />

  
  <%if current_artist.image_url.present? %>
        <p class="card-text",style="color:grey;font-size:22px;"><strong> <%= image_tag current_artist.image_url.to_s ,:size => "100x100" %></strong></p>
    
      <%else%>
      <p class="card-text",style="color:grey;font-size:22px;"><strong><%= image_tag "https://cdn.dribbble.com/users/295355/screenshots/3878696/ghostdribbblefinalnewanimation_still_2x.gif?compress=1&resize=400x300".to_s  ,:size => "100x100" %></p>
        <%end%>
  

 <!-- <%# if @artist.image_url.present? %>
<strong>Image:</strong>
  <div class="d-flex flex-row col-3">
  <p>
  
  <%#= image_tag @artist.image_url.to_s ,alt:'image' ,:size => "100x100" %>
  </p>  
  </div>
  
  <%#= link_to  'Add new image', new_image_path,class:"btn btn-primary btn-sm"%>
<%#else%>
  <%#= link_to  'Add image', new_image_path,class:"btn btn-primary btn-sm"%>
<%#end%> -->
  <% if alert %>
    <p class="alert alert-danger mt-4"><%= alert %></p>
  <% end %> 
</div>