<%= render 'layouts/display' %>
<div class="p-4 shadow-4 rounded-3" style="background-color: white;font-family:serif;">
  
  <h2><%= @artist.name %></h2>
  <p>
    <%= @artist.region %>
  </p>

  <hr class="my-4" />

  <p>
    <%= @artist.email %>
  </p>

  <p>
    <%= @artist.image_url %>
  </p>

<!-- <#% if @artist.image_url.present? %>
<strong>Image:</strong>
  <#% @images.each do |image| %>
  <div class="d-flex flex-row col-3">
  <p>
  
  <%#= image.image_url %>
  <%#= button_to  'Remove', image_path(image),
              method: :delete,
              data: { confirm: 'Are you sure?' } ,class:"btn btn-danger btn-sm",style:"margin-left:80px"%>
  </p>  
  </div>
  <%#end%>
  
  <%#= link_to  'Add new image', new_image_path,class:"btn btn-primary btn-sm"%>
<%#else%>
  <%#= link_to  'Add image', new_image_path,class:"btn btn-primary btn-sm"%>
<%#end%>
 <%#= link_to  'Logout',destroy_artist_session_path,
                  method: :delete,class:"btn btn-danger btn-sm"%>-->
  <% if alert %>
    <p class="alert alert-danger mt-4"><%= alert %></p>
  <% end %> 
</div>