<div>

<ul>

<li><%= link_to 'Albums',artist_album_path(@artist.id) %></li> <!-- displaying the show page of every albums tried artist_albums_path(@artist) routing error-->

<!-- <li><%#= link_to 'Songs',songs_path %></li> -->
<li><%= link_to 'Profile',artist_path(@artist) %></li>
</ul>

<br>
<h2><%= @artist.name %></h2>
<p>
  <%= @artist.image_url %>
 </p>
<p>
  <%= @artist.region %>
</p>


<br>
<!-- <%#= link_to 'Add new album',new_album_path %> -->
</div>