<%= render 'layouts/display' %>
<div class="p-4 shadow-4 rounded-3" style="background-color: white;font-family:serif;">
  
  <h2><%= @artist.name %></h2>
  <p>
    <%= @artist.region %>
  </p>

  <hr class="my-4" />

  

  <p>
    <%= image_tag @artist.image_url.to_s ,alt:'image' ,:size => "100x100" %>
  </p>

 <!-- <%# if @artist.image_url.present? %>
<strong>Image:</strong>
  <div class="d-flex flex-row col-3">
  <p>
  
  <%#= image_tag @artist.image_url.to_s ,alt:'image' ,:size => "100x100" %>
  </p>  
  </div>
  
  <%#= link_to  'Add new image', new_image_path,class:"btn btn-primary btn-sm"%>
<%#else%>
  <%#= link_to  'Add image', new_image_path,class:"btn btn-primary btn-sm"%>
<%#end%> -->
  <% if alert %>
    <p class="alert alert-danger mt-4"><%= alert %></p>
  <% end %> 
</div>