<%= render 'layouts/display' %>
<div class="p-4 shadow-4 rounded-3" style="background-color: white;font-family:serif;">
  <h2><%= current_user.username %></h2>
  <p>
    <%= current_user.phone %>
  </p>

  <hr class="my-4" />

  <p>
    <%= current_user.email %>
  </p>

<!-- <strong>Image:</strong>
  <#% @images.each do |image| %>
  <div class="d-flex flex-row col-3">
  <p>
  
  <%#= image.image_url %>

  </p>  
  </div>
  <%#end%>
   -->

  <% if alert %>
    <p class="alert alert-danger mt-4"><%= alert %></p>
  <% end %>
</div>

