<%= render 'layouts/display' %>
<div class="card ", style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)max-width: 300px;max-height:800px;margin: auto;text-align: center;font-family: arial;">
  <div class="card-body">
    <h5 class="card-title"><strong><%= current_user.username %></strong></h5>
    <p class="card-text"><%= current_user.phone %></p>
     <%if current_user.image_url.present? %>
        <p class="card-text",style="color:grey;font-size:22px;"><strong> <%= image_tag current_user.image_url.to_s ,:size => "100x100" %></strong></p>
    
      <%else%>
      <p class="card-text",style="color:grey;font-size:22px;"><strong><%= image_tag "https://cdn.dribbble.com/users/295355/screenshots/3878696/ghostdribbblefinalnewanimation_still_2x.gif?compress=1&resize=400x300".to_s  ,:size => "100x100" %></p>
        <%end%>
      </strong>
    </p>
  </div>
  <% if alert %>
    <p class="alert alert-danger mt-4"><%= alert %></p>
  <% end %>
</div>

