<%= render 'layouts/display' %>
<h1>Search Results</h1>

<%if artist_signed_in?%>

 <table class="table",style="font-family:serif;">
    <thead>
      <tr>
        <!-- <th scope="col">  </th> -->
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Language</th>
        <th scope="col">  </th>
        <th scope="col">  </th>
        <th scope="col">  </th>
        <th scope="col">   </th>
        <th colspan="3"></th> 
       </tr>
    </thead>
    <tbody>
      
      <!-- <#% if current_artist.albums.present? %> -->
       
      <% @albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
          <!-- <td><%#= album.artist_id %></td> -->
        <td><%= album.description %></td>
        <td><%= album.language %></td>

        <td><%= link_to 'Show',album_path(album),class:"btn btn-primary btn-sm"%></td>
        <td><%= link_to 'Update',edit_album_path(album),class:"btn btn-primary btn-sm"%></td>
        <td><%= button_to 'Remove',album_path(album),method: :delete,data: { confirm: 'Are you sure?'},class:"btn btn-danger btn-sm"%></td>
        <td><%= link_to 'Songs',songs_path(album_id: album.id),class:"btn btn-primary btn-sm" %></td>
      </tr>
      <%end%>
    </tbody>
  </table>
  <%= link_to "Add new album", new_album_path(:artist_id=>params[:id]),class:"btn btn-success",style:"margin-left:1300px;width:300px" %>
 

<%elsif user_signed_in?%>

  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">   </th> -->
        <th scope="col">Title</th>
        <!-- <th scope="col">Artist</th> -->
        <th scope="col">Description</th>
        <th scope="col">Language</th>
        <th scope="col">   </th>
        <th colspan="3"></th> 
      </tr>
    </thead>

    <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td><%= album.title %></td>
          <!-- <td><%#= album.artist_id %></td> -->
          <td><%= album.description %></td>
          <td><%= album.language %></td>
          <td><%= link_to 'Show', album_path(album),class:"btn btn-primary" %></td>
          
          <td><div class="center aligned ui container">
                            <% if current_user.playlists.present?%>
                              <%= form_with url: insertalbum_playlists_path , local: true do |form| %>
                              <%= hidden_field_tag :album_id, album.id %>
                              <%= hidden_field_tag :user_id, current_user.id %>
                               <%= form.select(:playlist_id, current_user.playlists.collect {|c| [ c.title, c.id ] }, { include_blank: true }) %>
                                <br>
                                <br>
                                <%= form.submit "Add to playlist ",class:"btn btn-primary" %>
                              <% end %>
                              <br>
                          <%end%>
                            </div>
          <% end %>
    </tbody>
  </table>
     <%#= link_to 'Go to Playlist',playlist_path(current_user),class:"btn btn-success",style:"width:450px;margin-left:400px;"%>
  <br>


  <%else%>

  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">   </th> -->
        <th scope="col">Title</th>
        <!-- <th scope="col">Artist</th> -->
        <th scope="col">Description</th>
        <th scope="col">Language</th>
        <th scope="col">   </th>
        <th colspan="3"></th> 
      </tr>
    </thead>

    <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td><%= album.title %></td>
          <!-- <td><%#= album.artist_id %></td> -->
          <td><%= album.description %></td>
          <td><%= album.language %></td>
          <td><%= link_to 'Add to Playlist' ,new_user_session_path, class:"btn btn-success btn-sm mt-2"%></td>
          <%end%>
      </tr>
  </tbody>
</table>
    
  <% end %>
 <% if flash %>
    <p class="notice text-success mt-4"><%= notice %></p>
<% end %>
  




