<%= render 'layouts/display' %>

<div class="card ", style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)max-width: 300px;max-height:800px;margin: auto;text-align: center;font-family: arial;">
  
  </div> 
  <div class="card-body">
    <h5 class="card-title"><strong><%= @album.title %></strong></h5>
    <p class="card-text"><%= @album.description %></p>
    <p class="card-text",style= "color:grey;font-size:22px;"><strong><%= @album.language %></strong></p>
    
      <%if @album.image_url.present? %>
        <p class="card-text",style="color:grey;font-size:22px;"><strong> <%= image_tag @album.image_url.to_s ,alt:'image' ,:size => "100x100" %></strong></p>
    
      <%else%>
      <p class="card-text",style="color:grey;font-size:22px;"><strong><%= image_tag "https://mosaic.scdn.co/640/ab67616d00001e026fd209ba0b69ed8a3e2e0349ab67616d00001e027aa3700d9c7db21c2c5226c6ab67616d00001e02a359d88b8368698c7c44add9ab67616d00001e02a56fd563abc1c9017d6b53f0".to_s ,alt:'image' ,:size => "100x100" %></p>
        <%end%>
    <!-- <%#= render 'albums/songshow' %> -->
    <h2><b>Songs </h2>
      
    <% @album.songs.each do |song| %>
    <p class="card-text">Song id:<%= song.id %></p>
      <p class="card-title"><h5><%= song.title %></h5>
      <p class="card-text"><strong><%= song.duration %></strong>
      <p class="card-text"><strong><%= song.lyrics %></strong>
      <% end %>
      <br><br>
    <%= link_to 'Back',albums_path(current_artist) %>
    
  </div>
</div>