<nav class="navbar navbar-expand-sm py-0 navbar-light bg-light">
  <div class="navbar-brand" href="#"><img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTifDO2QG1FcKP6W508NmdSzSWB9MZAFYM0aA&usqp=CAU" alt="myStore" style="width: 70px;"></div>
<div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="r4"><%= link_to'Home',root_path,class: "nav-link active" %></li>
          <%if user_signed_in?%>
            
            <li><%= link_to'Albums',albums_path, class:"nav-link"%></li>
            <li ><%= link_to'Songs',songs_path, class: "nav-link"%></li>
            <li ><%= link_to'MyPlaylists',playlists_path(current_user.playlists), class: "nav-link"%></li>
            <li ><%= link_to'Profile',user_path(current_user), class: "nav-link"%></li>
            <li><%= link_to 'Sign Out',destroy_user_session_path,method: :delete ,class: "nav-link"%></li>
          <%elsif artist_signed_in?%>
            <li ><%= link_to'Albums',albums_path(current_artist), class: "nav-link"%></li>
            <li ><%= link_to'Profile',artist_path(current_artist), class: "nav-link"%></li>
            <li><%= link_to 'Sign Out',destroy_artist_session_path,method: :delete ,class: "nav-link"%></li>
          <%else%>
                <li><%= link_to 'Sign In',new_user_session_path ,class: "nav-link"%></li>
                <li><%= link_to 'Sign In As Artist',new_artist_session_path ,class: "nav-link"%></li>
          <%end%>
      </ul>
    </div>
  </div>
</nav>